*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
h1{
    color: #f5d400;
    font-size: 8vmin;
    
}
body{
    background-color: #7776BC;
    text-align: center;
    overflow: hidden;
}

.container{
    /* background-color: #CDC7E5; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 0px;
}
.boxes{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-Btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 0px;
    cursor: pointer;
    font-size: 10vmin;
    box-shadow: 6px 10px 25px -8px rgba(0,0,0,0.58);
    background-color:#fae22d;
}

.main-Btn:hover{
    background-color: #d7aa06;
}

.reset-Btn{
    box-sizing: border-box;
    padding: 8px 30px;
    font-size: larger;
    font-weight:600;
    border: 0px;
    border-radius: 1rem;
    background-color: #abf50c;
    cursor: pointer;
}
.new-Btn{
    box-sizing: border-box;
    padding: 8px 30px;
    font-size: larger;
    font-weight:600;
    border: 0px;
    border-radius: 1rem;
    background-color: #abf50c;
    cursor: pointer;
}

.reset-Btn:hover{
    background-color: #8ac903;
    font-size: larger;
}
.new-Btn:hover{
    background-color: #8ac903;
    font-size: larger;
}

#msg{
    color: rgb(250, 250, 191);
    font-size: 8vmin
}

.msg-container{
    height: 100vmin;
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

.main-Score{
    display: flex;
    flex-direction: column;
}

.score{
    color: #f53d00;
    font-size: 4vmin
}